<h1><%= @movie.title %></h1>

<h3><%= @movie.year %></h3>


<ul>

<% @actors.each do |actor| %>
<%= actor.name %>
<% end %>

</ul>

<p>
	<%= link_to "Add an actor to this movie", new_actor_path %>
</p>

<p>
<%= link_to "Edit", edit_movie_path(@movie) %>
</p>
<br><br>
<p>
<%= button_to "Delete", movie_path(@movie), :method => :delete %>
</p>
<br><br>

<%= link_to "Back to movies", movies_path %>
