<h1><%= @movie.title %></h1>

<p><%= @movie.year %></p>

<div class="black-box">
  <h2>Actors</h2>
  <ul>
    <% @movie.actors.each do |actor| %>
    <li>
      <%= link_to actor.name, actor %>
      <%= button_to "X", remove_actor_path(@movie, actor), :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @actors.empty? %>
    <%= form_tag add_actor_path(@movie) do %>
      <%= collection_select :actor, :id, @actors, :id, :name %>
      <%= submit_tag "Add" %>
    <% end %>
  <% end %>
</div>

<h1>Comments</h1>

<ul id="comments">
  <% @comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</ul>

<h2>New Comment</h2>
<%= form_for [@movie, Comment.new] do |form| %>
  <ol class="formList">
    <li>
      <%= form.label :content %>
      <%= form.text_area :content, :rows => 5 %>
    </li>
    <li><%= submit_tag "Add comment" %></li>
  </ol>
<% end %>

<%= link_to "Edit", edit_movie_path(@movie) %>
<%= button_to "Delete", movie_path(@movie), :method => :delete %>
<br><br>

<%= link_to "Back to movies", movies_path %>
